.testimonios {
    padding: var(--padding-section-mobile);
    font-size: var(--text-size-section-title-mobile);
    background-color: var(--color-bg);
    text-align: center;
  }
  
  .testimonios h2 {
    color: var(--text-color);
    margin-bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    .testimonios {
      padding: var(--padding-section-desktop);
    }
  
    .testimonios h2 {
      font-size: var(--text-size-section-title);
      margin-bottom: 3rem;
      position: relative;
    }
  
    
}