/* Estilos base del contenedor header */
header {
    position: sticky;
    top: 0;
    z-index: var(--z-index-dropdown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-desktop-section);
    background: linear-gradient(to right, rgb(2,6,30) 0%, rgba(2,6,30,0.2) 100%);
  }
  
  #logo img {
    height: var(--logo-height-mobile);
    width: auto;
  }

  /* Desktop */
  @media (min-width: 1024px) {
    header {
      padding: var(--padding-desktop-section);
    }
  
    #logo img {
      height: var(--logo-height-desktop);
    }
  }
  
  /* Mega Desktop */
  @media (min-width: 1600px) {
    header {
      padding: var(--padding-mega-desktop);
    }
  }